body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7f6e5f;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            color: #f5f5dc;
            font-size: 40px;
            font-weight: 600;
            margin-top: 40px;
        }
    }

    .content {

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        .box {
            width: 20px;
            height: 20px;
            background-color: beige;
            border: 1px solid black;

        }

        .button {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            button {
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                background-color: burlywood;
                font-size: 20px;
            }
        }

    }

    .footer {
        display: flex;
        justify-content: center;
        bottom: 0px;
        position: absolute;

        p {
            display: flex;
            align-items: center;
            color: #171515;
            font-style: italic;
        }

        img {
            margin-left: 7px;
            width: 20px;
            height: 20px;
        }
    }
}